html{
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
}
body{
    background-color:#cececeff;
    margin: 0px;
    display: flex;
    flex-direction: column;
}
header{
    background-color:#9E0000FF ;
    display: flex;
    justify-content: center;
    
}

header img{
width: 400px;
height: 230px;
align-self: center;
flex: 0 0;
}
nav{
    display: flex;
    flex-flow: row nowrap;
    font-size: 1rem;
    background-color: grey;
    justify-content:center;
    margin: 2px 0px;
    padding: 0px;
    width: 100%;
    box-shadow: 0px 3px 4px  rgb(51, 51, 51);
    
}
nav > div{
    padding: 0.5rem 1rem;
    flex: 0 0 auto;
}
nav > div:hover{
    background-color: #cececeff;
}

h1{
    font-family:sans-serif;
    color: #323232ff;
    text-align: center;
}
p{
    text-align: center;
}
h2{
    color: #9e0000ff;
    width: fit-content;
    margin: 0px;
    width: fit-content;
}
.ContenedorActividades{
       
    padding: 2rem 0px;
}
.ContenedorActividades > div{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    flex: 0 1 100%;
}
.ContenedorActividades > div > div{
    
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    text-align: center;
}
.ContenedorActividades > div > div > div{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
}

video{
    width: 70%;
    margin: 0px;
    padding: 0px;
}

.pie{
    display: flex;
    flex-flow: row wrap;
    bottom: 0px;
    background-color: grey;
    box-shadow: 0 3px 4px rgb(46, 45, 45);
    justify-content: center;
    width: 100%;
    position:fixed;
    
    
}
.pie > div{
    display: flex;
    align-items: center;
    padding: 2px 1rem;
    
    
}
.pie > div > img{
    width: 2rem;
    height: 2rem;
    flex: 0 0 auto;
}
.pie > div > p{
    margin-left: 0.5rem;
}

@media(min-width: 550px){
    main.ContenedorActividades{
        flex: 0 1 50%;
    }
    h1{
        color: blue;
    }
}
@media(min-width:900px){
    main.ContenedorActividades{
        flex: 0 1 33%;
       }
    h1{
        color: blueviolet;
    }
}
@media(min-width:1200px){
    main.ContenedorActividades{
        flex: 0 1 25%;
     }
    h1{
        color:#323232ff;
    }
}